@page
@model DataDrive.Areas.Identity.Pages.Account.Manage.AdminPanelModel
@{
    ViewData["Title"] = "Admin Panel";
    ViewData["ActivePage"] = ManageNavPages.AdminPanel;
}
@using static DataDrive.Files.Models.Out.UserDiskSpace;

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>
            <strong>System settings:</strong>

            Total disk space for new user: @Model.SystemConfigOut.GetBytesWithUnit()
        </p>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SystemConfigInput.TotalDiskSpaceForNewUser"></label>
                <input asp-for="SystemConfigInput.TotalDiskSpaceForNewUser" min="0" class="form-control" />
                <span asp-validation-for="SystemConfigInput.TotalDiskSpaceForNewUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="SystemConfigInput.DiskSpaceUnit" asp-items="Html.GetEnumSelectList<Unit>()">
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>

        <p>
            <strong>Reported files:</strong>
        </p>
    </div>
</div>