<mat-toolbar color="secondary">
  <mat-toolbar-row>
    <button mat-button (click)="getBack()" *ngIf="actualDirectory && actualDirectory.id">
      <mat-icon>arrow_back</mat-icon>
      {{ actualDirectory.parentDirectoryName }}
    </button>&nbsp;
    <mat-icon *ngIf="actualDirectory && actualDirectory.id">keyboard_arrow_right</mat-icon>
    <h1 *ngIf="actualDirectory && actualDirectory.id">{{ actualDirectory.name }}</h1>

    <h1 *ngIf="!actualDirectory || !actualDirectory.id">{{ actualDirectory.name }}</h1>

    <span class="menu-spacer"></span>

    <div fxFlex fxLayout fxLayoutAlign="flex-end">

      <ul fxLayout fxLayoutGap="20px" style="list-style-type:none">
        <li>
          <label>
            <input #file type="file" style="display: none;" multiple (change)="upload(file.files)">
            <a mat-icon-button>
              <mat-icon>cloud_upload</mat-icon>
            </a>
          </label>
          <span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
            {{progress}}%
          </span>

          <span style="font-weight:bold;color:green;" *ngIf="message">
            {{message}}
          </span>
        </li>

        <li>
          <a mat-icon-button [matMenuTriggerFor]="createDirectoryForm">
            <mat-icon>create_new_folder</mat-icon>
          </a>
          <mat-menu #createDirectoryForm="matMenu">
            <form (click)="stopPropagation($event)"
                  (ngSubmit)="createDirectory()">
              <mat-form-field>
                <input name="name" type="text" required [(ngModel)]="newDirectory.Name" matInput placeholder="{{ 'FILES.NEW_DIRECTORY_NAME' | translate }}">
              </mat-form-field>
              <button mat-button type="submit"><mat-icon>save</mat-icon></button>
            </form>
          </mat-menu>
        </li>
      </ul>

    </div>

  </mat-toolbar-row>
</mat-toolbar>

<mat-grid-list cols="5" rowHeight="1:1.5" *ngIf="actualDirectory && actualDirectory.files && actualDirectory.files.length > 0">
  <mat-grid-tile mat-button *ngFor="let file of actualDirectory.files"
                 title="{{ file.name }}"
                 (click)="getFromDirectory(file.id)">
    <mat-icon class="main-file-icon"
              *ngIf="file.fileType == 1">folder</mat-icon>
    <mat-icon class="main-file-icon"
              *ngIf="file.fileType == 0">insert_drive_file</mat-icon>
    <mat-grid-tile-footer>
      <p class="text-truncate">{{ file.name }}</p>
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>

<p *ngIf="!actualDirectory || (actualDirectory.files && actualDirectory.files.length == 0)">
  {{ 'FILES.DIRECTORY_IS_EMPTY' | translate }}
</p>

