<div class="card-deck container ml-auto mr-auto">

  <div *ngFor="let note of notes"
       class="col-md-12 mt-2"
       mat-button
       (click)="show(note);"
       [contextMenu]="noteMenu"
       [contextMenuSubject]="note">

    <mat-card title="{{ note.title || ('NOTES.NO_NAME' | translate) }}">
      <h4>
        <b>{{ note.title }}</b>
      </h4>
      <mat-icon style="position: absolute; right:5px; top:5px"
                    *ngIf="note.isShared">people</mat-icon>

      <p class="text-truncate" *ngIf="note.content">
        {{ note.content }}
      </p>
    </mat-card>

  </div>

  <context-menu #noteMenu>
    <ng-template contextMenuItem let-item (execute)="changeFileName($event.item.id, $event.item.name)">
      <button mat-button style="width: 100%">
        <mat-icon>edit</mat-icon>
        {{ 'FILES.CONTEXT_MENU.RENAME' | translate }}
      </button>
    </ng-template>

    <ng-template contextMenuItem let-item (execute)="shareFile($event.item.id)">

      <button mat-button style="width: 100%">
        <mat-icon>share</mat-icon>
        {{ 'FILES.CONTEXT_MENU.SHARE' | translate }}
      </button>
    </ng-template>

    <ng-template contextMenuItem let-item (execute)="deleteFile($event.item.id)">
      <button mat-button style="width: 100%">
        <mat-icon>delete</mat-icon>
        {{ 'FILES.CONTEXT_MENU.DELETE' | translate }}
      </button>
    </ng-template>
  </context-menu>
</div>
