<div class="card-deck container ml-auto mr-auto">

  <div *ngFor="let note of notes"
       class="col-md-12"
       mat-button
       (click)="show(note);"
       [contextMenu]="noteMenu"
       [contextMenuSubject]="note">

    <mat-card class="card mt-2 mb-2"
              title="{{ note.title }}">

      <mat-icon style="position: absolute; right:5px; top:5px"
                *ngIf="file.isShared">people</mat-icon>

      <p class="text-truncate"
         style="text-align: center">
        {{ note.title }}
      </p>

      <div class="card col-6"
           *cdkDragPreview>
        <p class="text-truncate"
           style="text-align: center">
          {{ note.title }}
        </p>
      </div>
    </mat-card>

  </div>

  <context-menu #noteMenu>
    <ng-template contextMenuItem let-item (execute)="changeFileName($event.item.id, $event.item.name)">
      <button mat-button style="width: 100%">
        <mat-icon>edit</mat-icon>
        {{ 'FILES.CONTEXT_MENU.RENAME' | translate }}
      </button>
    </ng-template>

    <ng-template contextMenuItem let-item (execute)="downloadFile($event.item.id)"
                 [visible]="isNotDirectory">

      <button mat-button style="width: 100%">
        <mat-icon>get_app</mat-icon>
        {{ 'FILES.CONTEXT_MENU.DOWNLOAD' | translate }}
      </button>
    </ng-template>

    <ng-template contextMenuItem let-item (execute)="shareFile($event.item.id)"
                 [visible]="isNotDirectory">

      <button mat-button style="width: 100%">
        <mat-icon>share</mat-icon>
        {{ 'FILES.CONTEXT_MENU.SHARE' | translate }}
      </button>
    </ng-template>

    <ng-template contextMenuItem let-item (execute)="deleteFile($event.item.id)">
      <button mat-button style="width: 100%">
        <mat-icon>delete</mat-icon>
        {{ 'FILES.CONTEXT_MENU.DELETE' | translate }}
      </button>
    </ng-template>
  </context-menu>
</div>
