
<div>
  <h1 mat-dialog-title>{{ 'FILES.SHARE_FILE_DIALOG.TITLE' | translate }}</h1>

  <mat-slide-toggle [checked]="shareEveryoneSliderChecked"
                    (change)="toggleResourceSharingByToken($event)">
    {{ 'FILES.SHARE_FILE_DIALOG.TOKEN_SHARING_FORM' | translate }}
  </mat-slide-toggle>

  <div *ngIf="shareEveryoneSliderChecked && shareEveryoneOut">
    <div mat-dialog-content>

      <div class="row col-12">
        <mat-form-field class="col-sm-10 mr-auto">

          <input matInput
                 #tokenInput
                 readonly="readonly"
                 value="{{ shareEveryoneOut?.token }}"
                 placeholder="{{ 'FILES.SHARE_FILE_DIALOG.URL_TO_SHARE' | translate }}" />
        </mat-form-field>
        &nbsp;
        <app-copy-from-input class="col-sm-1 ml-auto"
                             [inputField]="tokenInput"></app-copy-from-input>
      </div>

      <div class="row col-12">
        <qrcode class="ml-auto mr-auto"
                [text]="shareEveryoneOut?.token"></qrcode>
      </div>

      <div class="row col-12">
        <mat-form-field class="col-sm-4 mr-auto">
          <input matInput
                 [matDatepicker]="myDatepicker"
                 [(ngModel)]="shareForEveryoneIn.expirationDateTime"
                 placeholder="{{ 'FILES.SHARE_FILE_DIALOG.EXPIRATION_DATE' | translate }}">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="col-sm-4 ml-auto mr-auto">
          <input matInput
                 style="width: 100%;"
                 type="number"
                 min="1"
                 [(ngModel)]="shareForEveryoneIn.downloadLimit"
                 placeholder="{{ 'FILES.SHARE_FILE_DIALOG.DOWNLOAD_LIMIT' | translate }}" />
        </mat-form-field>

        <mat-form-field class="col-sm-4 ml-auto">
          <input matInput
                 type="password"
                 [(ngModel)]="shareForEveryoneIn.password"
                 placeholder="{{ 'FILES.SHARE_FILE_DIALOG.PASSWORD' | translate }}" />
        </mat-form-field>
      </div>
    </div>

    <div mat-dialog-actions>

      <button mat-button
              type="submit"
              class="mr-auto ml-auto"
              (click)="saveShareForEveryone()">
        {{ 'DIALOG.SAVE_BUTTON' | translate }}
      </button>
    </div>
  </div>
  <br />
  <hr />
  <div mat-dialog-content>

    <div class="col-12">
      <ul class="list-group">

        <li *ngIf="!shareForUsersOut || shareForUsersOut.length == 0"
            class="list-group-item d-flex justify-content-between align-items-center">
          {{ 'FILES.SHARE_FILE_DIALOG.NOT_SHARED_FOR_USERS' | translate }}
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let shareForUser of shareForUsersOut">
          {{ shareForUser.sharedForUserUsername }}

          <!--TODO ON CHANGE EVENT   (change)="function"-->
          <mat-form-field class="col-sm-4 ml-auto mr-auto">
            <input matInput
                   [matDatepicker]="myDatepicker3"
                   (dateChange)="updateShareForUser(shareForUser)"
                   [(ngModel)]="shareForUser.expirationDateTime"
                   placeholder="{{ 'FILES.SHARE_FILE_DIALOG.EXPIRATION_DATE' | translate }}">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker3"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker3></mat-datepicker>
          </mat-form-field>

          <a mat-icon-button
             class="badge badge-danger badge-pill"
             (click)="deleteShareForUser(shareForUser.id)">
            <mat-icon>delete</mat-icon>
          </a>
        </li>
      </ul>
    </div>

    <div class="row col-12">

      <mat-form-field class="col-sm-4 ml-auto">

        <input matInput
               [(ngModel)]="shareForUserIn.username"
               placeholder="{{ 'FILES.SHARE_FILE_DIALOG.SHARE_TO_USER_USERNAME' | translate }}" />
      </mat-form-field>

      <mat-form-field class="col-sm-4 ml-auto mr-auto">
        <input matInput
               [matDatepicker]="myDatepicker2"
               [(ngModel)]="shareForUserIn.expirationDateTime"
               placeholder="{{ 'FILES.SHARE_FILE_DIALOG.EXPIRATION_DATE' | translate }}">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker2></mat-datepicker>
      </mat-form-field>

      <button mat-button
              type="submit"
              class="mr-auto ml-auto"
              (click)="shareForUser()">
        {{ 'DIALOG.SHARE_BUTTON' | translate }}
      </button>

    </div>
  </div>

  <div mat-dialog-actions>

    <button mat-button
            mat-dialog-close>
      {{ 'DIALOG.CANCEL_BUTTON' | translate }}
    </button>
  </div>
</div>
