<drive-files-toolbar [actualDirectory]="actualDirectory"
                     (onGetParentDirectory)="getFromDirectory($event)"
                     (onFilesUpload)="uploadFiles($event)"
                     (onDirectoryCreated)="createDirectory($event)"
                     (onGetFileInfo)="getFileInfo($event)"></drive-files-toolbar>

<p *ngIf="!actualDirectory || (actualDirectory.files && actualDirectory.files.length == 0)">

  {{ 'FILES.DIRECTORY_IS_EMPTY' | translate }}
</p>

<mat-sidenav-container *ngIf="actualDirectory && actualDirectory.files">

  <mat-sidenav-content style="height: 76vh">

    <drive-files-list-content [actualDirectory]="actualDirectory"
                              (onFileClick)="onFileClick($event)"
                              (onFileMove)="onFileMove($event)"></drive-files-list-content>
  </mat-sidenav-content>

  <mat-sidenav #fileinfosidenav
               position="end">

    <drive-files-list-sidenav [actualFile]="actualFile"
                              (onFileDownload)="downloadFile($event)"></drive-files-list-sidenav>
  </mat-sidenav>
</mat-sidenav-container>
