<drive-files-toolbar [actualDirectory]="actualDirectory"
                     (onGetParentDirectory)="getFromDirectory($event)"
                     (onFilesUpload)="uploadFiles($event)"
                     (onDirectoryCreated)="createDirectory($event)"
                     (onGetFileInfo)="getFileInfo($event)"></drive-files-toolbar>

<p *ngIf="!actualDirectory || (actualDirectory.files && actualDirectory.files.length == 0)">

  {{ 'FILES.DIRECTORY_IS_EMPTY' | translate }}
</p>

<mat-sidenav-container *ngIf="actualDirectory && actualDirectory.files">

  <drive-files-list-content [actualDirectory]="actualDirectory"
                            (onFileClick)="onFileClick($event)"></drive-files-list-content>

  <mat-sidenav #fileinfosidenav
               position="end">

    <mat-toolbar style="padding: 0em 1em;">

      <mat-toolbar-row>

        <mat-icon *ngIf="actualFile.fileType == 1"
                  style="margin-right: 0.5em;">folder</mat-icon>

        <mat-icon *ngIf="actualFile.fileType == 0"
                  style="margin-right: 0.5em;">insert_drive_file</mat-icon>

        <h3 class="text-wrap">

          {{ actualFile.name }}
        </h3>

        <div>

          <a mat-icon-button
             (click)="fileinfosidenav.toggle()">

            <mat-icon>close</mat-icon>
          </a>
        </div>
      </mat-toolbar-row>

      <mat-toolbar-row>

        <p style="margin-right: 0.5em;">

          {{ 'FILES.CREATED' | translate }}
        </p>

        <p fxFlex
           fxLayout
           fxLayoutAlign="flex-end">

          {{ (actualFile.createdDateTime | date:'dd.MM.yyyy HH:mm:ss') }}
        </p>
      </mat-toolbar-row>

      <mat-toolbar-row>

        <p style="margin-right: 0.5em;">

          {{ 'FILES.MODIFIED' | translate }}
        </p>

        <p fxFlex
           fxLayout
           fxLayoutAlign="flex-end">

          {{ (actualFile.createdDateTime | date:'dd.MM.yyyy HH:mm:ss') }}
        </p>
      </mat-toolbar-row>

      <mat-toolbar-row>

        <a mat-icon-button
           (click)="deleteFile(); fileinfosidenav.toggle();">

          <mat-icon>delete</mat-icon>
        </a>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav>
</mat-sidenav-container>
