<mat-toolbar color="secondary">

  <mat-toolbar-row>

    <button mat-button
            (click)="getBackToParentDirectory();"
            *ngIf="actualDirectory && actualDirectory.id">

      <mat-icon>arrow_back</mat-icon>
      {{ actualDirectory.parentDirectoryName }}
    </button>
    &nbsp;

    <mat-icon *ngIf="actualDirectory && actualDirectory.id">keyboard_arrow_right</mat-icon>

    <h1 *ngIf="actualDirectory && actualDirectory.id">
      {{ actualDirectory.name }}
    </h1>

    <h1 *ngIf="!actualDirectory || !actualDirectory.id">
      {{ actualDirectory.name }}
    </h1>

    <span class="menu-spacer"></span>

    <div fxFlex
         fxLayout
         fxLayoutAlign="flex-end">

      <ul fxLayout
          fxLayoutGap="20px"
          style="list-style-type:none">

        <li>

          <label>

            <input #file
                   type="file"
                   style="display: none;"
                   (change)="uploadFiles(file.files)"
                   multiple>

            <a mat-icon-button>

              <mat-icon>cloud_upload</mat-icon>
            </a>

          </label>

          <span style="font-weight:bold;color:green;"
                *ngIf="progress > 0 && progress < 100">

            {{progress}}%
          </span>

          <span style="font-weight:bold;color:green;"
                *ngIf="message">

            {{message}}
          </span>
        </li>

        <li>

          <a mat-icon-button
             [matMenuTriggerFor]="createDirectoryMenu">

            <mat-icon>create_new_folder</mat-icon>
          </a>

          <mat-menu #createDirectoryMenu="matMenu">

            <form (ngSubmit)="createDirectory()">

              <mat-form-field>

                <input matInput
                       required
                       name="name"
                       type="text"
                       (click)="stopPropagation($event)"
                       [(ngModel)]="newDirectory.name"
                       placeholder="{{ 'FILES.NEW_DIRECTORY_NAME' | translate }}">
              </mat-form-field>

              <button mat-button
                      type="submit">

                <mat-icon>save</mat-icon>
              </button>
            </form>
          </mat-menu>
        </li>

        <li>

          <a mat-icon-button
             (click)="getFileInfo(actualDirectory.id);">

            <mat-icon>info</mat-icon>
          </a>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
