<mat-toolbar color="secondary">
  <h1>{{ 'SHARED_NOTES.TITLE' | translate }}</h1>
</mat-toolbar>

<div>
  <div style="position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1000"
       *ngIf="!shareForUserOuts || shareForUserOuts.length == 0">
    <p>
      {{ 'SHARED_NOTES.SHARED_NOTES_NOT_FOUND' | translate }}
    </p>

  </div>

  <div class="card-deck container ml-auto mr-auto">

    <div *ngFor="let resource of shareForUserOuts"
         class="col-md-12 mt-2"
         mat-button
         (click)="showNote(resource[1].id);">

      <mat-card title="{{ resource[1].title || ('NOTES.NO_NAME' | translate) }}">
        <h4>
          <b>{{ resource[1].title }}</b>
        </h4>

        <p class="text-truncate" *ngIf="resource[1].content">
          {{ resource[1].content }}
        </p>

        <div class="row">
          <p class="font-weight-light col-sm-4">
            {{ (resource[1].lastModifiedDateTime ? (resource[1].createdDateTime > resource[1].lastModifiedDateTime ? resource[1].createdDateTime : resource[1].lastModifiedDateTime) : resource[1].createdDateTime) | date:'dd.MM.yyyy HH:mm:ss' }}
          </p>

          <div class="col-sm-4 row">
            <p class="font-weight-light col-auto">
              {{ 'FILES.OWNER' | translate }}:
            </p>

            <p class="font-weight-light col-auto">
              {{ resource[0].ownerUsername }}
            </p>
          </div>

          <div *ngIf="resource[0].expirationDateTime"
               class="col-sm-4 row">

            <p class="font-weight-light col-auto">
              {{ 'SHARES.EXPIRATION_DATE' | translate }}:
            </p>

            <p class="font-weight-light  col-auto">
              {{ resource[0].expirationDateTime | date:'dd.MM.yyyy' }}
            </p>
          </div>

        </div>
      </mat-card>

    </div>
  </div>

</div>
