
  <h1 mat-dialog-title>{{ 'SHARES.PASSWORD_FOR_TOKEN_DIALOG.TITLE' | translate }}</h1>

<div mat-dialog-content>
  <p>{{ 'SHARES.PASSWORD_FOR_TOKEN_DIALOG.TOKEN_IS_PASSWORD_PROTECTED' | translate }}</p>

  <mat-form-field>
    <input matInput
           [(ngModel)]="data.password"
           type="password"
           placeholder="{{ 'SHARES.PASSWORD_FOR_TOKEN_DIALOG.PASSWORD_PLACEHOLDER' | translate }}"/>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.password" cdkFocusInitial>{{ 'DIALOG.NEXT_BUTTON' | translate }}</button>
  <button mat-button (click)="onNoClick()">{{ 'DIALOG.CLOSE_BUTTON' | translate }}</button>
</div>
