mat-icon.main-file-icon {
  transform: scale(3);
}

.droptarget {
  float: left;
  width: 100px;
  height: 35px;
  margin: 15px;
  margin-right: 100px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
