<div class="card-deck container ml-auto mr-auto"
     cdkDropList
     cdkDropListSortingDisabled>

  <div *ngIf="dragFile && actualDirectory && actualDirectory.id"
       #parentListItem
       class="col-10 ml-auto mr-auto"
       mat-button
       (mouseenter)="enter(parentListItem, parentFile)"
       (mouseup)="drop(parentFile)"
       (mouseleave)="leave()"
       style="margin: 0; position: fixed; z-index: 1000; left: 0; right: 0">

    <mat-card class="card mt-2 mb-2"
              style="padding: 0;">

      <p class="text-truncate"
         style="text-align: center">
        {{ parentFile.name }}
      </p>
    </mat-card>
  </div>

  <div class="col-10 ml-auto mr-auto"
       mat-button
       style="margin: 0; position: fixed; z-index: 999; left: 0; right: 0">

    <mat-progress-bar mode="determinate" [value]="userDiskSpace.usedPercentage"></mat-progress-bar>

    <p class="text-center">Wolne: {{ userDiskSpace.free }} {{ userDiskSpace.freeUnitString }} z {{ userDiskSpace.total }} {{ userDiskSpace.totalUnitString }}</p>
  </div>

  <div class="col-12 ml-auto mr-auto"
       style="opacity: 0; margin: 0">

    <mat-card class="card mt-2 mb-2"
              style="padding: 0;">

      <p class="text-truncate"
         style="text-align: center">
        &nbsp;
      </p>
    </mat-card>
  </div>

  <div *ngFor="let file of actualDirectory.files"
       #listItem
       class="col-md-3"
       mat-button
       cdkDrag
       (mousedown)="drag(listItem, file)"
       (mouseenter)="enter(listItem, file)"
       (mouseup)="drop(file)"
       (mouseleave)="leave()"
       (click)="clickFile(file);"
       [contextMenu]="fileMenu"
       [contextMenuSubject]="file">

    <mat-card class="card mt-2 mb-2"
              title="{{ file.name }}">

      <mat-icon style="position: absolute; right:5px; top:5px"
                *ngIf="file.isShared">people</mat-icon>

      <mat-card-content class="mt-2"
                        style="text-align: center">

        <mat-icon class="main-file-icon"
                  *ngIf="file.resourceType == 1">folder</mat-icon>

        <mat-icon class="main-file-icon"
                  *ngIf="file.resourceType == 0">insert_drive_file</mat-icon>
      </mat-card-content>

      <p class="text-truncate"
         style="text-align: center">
        {{ file.name }}
      </p>

      <div class="card col-6"
           *cdkDragPreview>
        <p class="text-truncate"
           style="text-align: center">
          {{ file.name }}
        </p>
      </div>
    </mat-card>

  </div>

  <context-menu #fileMenu>
    <ng-template contextMenuItem let-item (execute)="changeFileName($event.item.id, $event.item.name)">
      <button mat-button style="width: 100%">
        <mat-icon>edit</mat-icon>
        {{ 'FILES.CONTEXT_MENU.RENAME' | translate }}
      </button>
    </ng-template>

    <ng-template contextMenuItem let-item (execute)="downloadFile($event.item.id)"
                 [visible]="isNotDirectory">

      <button mat-button style="width: 100%">
        <mat-icon>get_app</mat-icon>
        {{ 'FILES.CONTEXT_MENU.DOWNLOAD' | translate }}
      </button>
    </ng-template>

    <ng-template contextMenuItem let-item (execute)="shareFile($event.item.id)"
                 [visible]="isNotDirectory">

      <button mat-button style="width: 100%">
        <mat-icon>share</mat-icon>
        {{ 'FILES.CONTEXT_MENU.SHARE' | translate }}
      </button>
    </ng-template>

    <ng-template contextMenuItem let-item (execute)="deleteFile($event.item.id)">
      <button mat-button style="width: 100%">
        <mat-icon>delete</mat-icon>
        {{ 'FILES.CONTEXT_MENU.DELETE' | translate }}
      </button>
    </ng-template>
  </context-menu>
</div>
