<div class="card-deck container ml-auto mr-auto"
     cdkDropList
     cdkDropListSortingDisabled>
  <div class="col-12"
       style="position: fixed; z-index: 1000;">
    <div *ngIf="dragFile && actualDirectory && actualDirectory.id"
         #parentListItem
         class="ml-auto mr-auto col-2 mt-1 mb-1"
         mat-button
         (mouseenter)="enter(parentListItem, parentFile)"
         (mouseup)="drop(parentFile)"
         (mouseleave)="leave()">

      <p class="text-truncate card"
         style="text-align: center">
        ...
      </p>

    </div>
  </div>

  <div *ngFor="let file of actualDirectory.files"
       #listItem
       class="col-md-3"
       mat-button
       cdkDrag
       (mousedown)="drag(listItem, file)"
       (mouseenter)="enter(listItem, file)"
       (mouseup)="drop(file)"
       (mouseleave)="leave()"
       (click)="clickFile(file);">

    <mat-card class="card mt-2 mb-2"
              title="{{ file.name }}">

      <mat-card-content class="mt-2"
                        style="text-align: center">

        <mat-icon class="main-file-icon"
                  *ngIf="file.fileType == 1">folder</mat-icon>

        <mat-icon class="main-file-icon"
                  *ngIf="file.fileType == 0">insert_drive_file</mat-icon>
      </mat-card-content>

      <p class="text-truncate"
         style="text-align: center">
        {{ file.name }}
      </p>

      <div class="card col-6"
           *cdkDragPreview>
        <p class="text-truncate"
           style="text-align: center">
          {{ file.name }}
        </p>
      </div>
    </mat-card>

  </div>
</div>





<!--
<mat-grid-list cols="5"
               rowHeight="1:1.2"
               cdkDropList
               (mouseup)="drop(null)">

  <mat-grid-tile mat-button
                 class="fileTile"
                 cdkDrag
                 #listItem
                 (mousedown)="drag(listItem, file)"
                 (mouseenter)="enter(listItem, file)"
                 (mouseup)="drop(file)"
                 (mouseleave)="leave()"
                 *ngFor="let file of actualDirectory.files"
                 title="{{ file.name }}"
                 (click)="clickFile(file);">

    <mat-icon class="main-file-icon"
              *ngIf="file.fileType == 1">folder</mat-icon>

    <mat-icon class="main-file-icon"
              *ngIf="file.fileType == 0">insert_drive_file</mat-icon>

    <mat-grid-tile-footer>

      <p class="text-truncate">{{ file.name }}</p>
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>
-->
