<ul fxLayout fxLayoutGap="20px" style="list-style-type:none" *ngIf="isAuthenticated | async">

  <li fxHide.xs>
    <a mat-icon-button
       [routerLink]='["/authentication/profile"]'>
      <mat-icon>settings</mat-icon>
    </a>
  </li>

  <li>
    <button mat-icon-button [matMenuTriggerFor]="auth">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #auth="matMenu">
      <a mat-menu-item
         [routerLink]='["/authentication/profile"]'>
        {{ 'NAVBAR.HELLO_USERNAME' | translate:{'name':(userName | async)} }}
      </a>
      <a mat-menu-item
         [routerLink]='["/authentication/logout"]'
         [state]='{ local: true }'>
        <mat-icon>exit_to_app</mat-icon>
        <span>{{ 'NAVBAR.SIGN_OUT' | translate }}</span>
      </a>
    </mat-menu>
  </li>

</ul>

<ul fxLayout fxLayoutGap="20px" style="list-style-type:none" *ngIf="!(isAuthenticated | async)">

  <li fxHide.xs>
    <a mat-icon-button
       [routerLink]='["/authentication/register"]'>
      <mat-icon>person_add</mat-icon>
    </a>
  </li>

  <li fxHide.xs>
    <a mat-icon-button
       [routerLink]='["/authentication/login"]'>
      <mat-icon>person</mat-icon>
    </a>
  </li>

</ul>
