<!--<ul class="navbar-nav" *ngIf="isAuthenticated | async">
    <li class="nav-item">
        <a  class="nav-link text-dark" [routerLink]='["/authentication/profile"]' title="Manage">Hello {{ userName | async }}</a>
    </li>
    <li class="nav-item">
        <a  class="nav-link text-dark" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout">Logout</a>
    </li>
</ul>
<ul class="navbar-nav" *ngIf="!(isAuthenticated | async)">
  <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]='["/authentication/register"]'>Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]='["/authentication/login"]'>Login</a>
    </li>
</ul>
-->


<ul fxLayout fxLayoutGap="20px" style="list-style-type:none">

  <li fxHide.xs>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </li>

  <li fxHide.xs>
    <button mat-icon-button>
      <mat-icon>help_outline</mat-icon>
    </button>
  </li>

  <li>
    <button mat-icon-button [matMenuTriggerFor]="auth">
      <mat-icon>person_outline</mat-icon>
    </button>
    <mat-menu #auth="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign out</span>
      </button>
    </mat-menu>
  </li>

</ul>

