div.message-list-container {
  height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
}

  div.message-list-container div.logged-user-message-container {
    max-width: 80%;
    width: auto;
    margin-left: auto;
    margin-right: 0;
  }

  div.message-list-container div.logged-user-message {
    background-color: darkcyan;
    border-radius: 10px;
  }

  div.message-list-container div.other-user-message-container {
    max-width: 80%;
    width: auto;
    margin-left: 0;
  }

  div.message-list-container div.other-user-message {
    background-color: dimgrey;
    border-radius: 10px;
  }

  div.message-list-container p.sent-date {
    margin-top: auto;
    margin-bottom: 0;
  }

p.message-content {
  color: white;
}
