<mat-toolbar>

  <button mat-button
          (click)="getBackToList();">

    <mat-icon>arrow_back</mat-icon>
    {{ 'MESSAGES.CHAT.GET_BACK' | translate }}
  </button>
</mat-toolbar>

<div class="container">
  <mat-form-field class="col-12"
                  *ngIf="mode === 'new'">
    <input matInput
           placeholder="{{ 'MESSAGES.CHAT.SEND_TO_USERNAME' | translate }}"
           autofocus
           [(ngModel)]="messagePost.toUserUsername">
  </mat-form-field>

  <mat-form-field class="col-12"
                  *ngIf="mode === 'read'">
    <input matInput
           placeholder="{{ 'MESSAGES.CHAT.SEND_TO_USERNAME' | translate }}"
           readonly
           [(ngModel)]="messagePost.toUserUsername">
  </mat-form-field>

  <hr />

  <div class="col-12 message-list-container"
       #messageListContainer
       [scrollTop]="messageListContainer.scrollHeight">

    <div *ngIf="isMoore"
         class="text-center">
      <button mat-button
              (click)="loadMore();">
        {{ 'MESSAGES.CHAT.LOAD_MORE' | translate }}
      </button>
    </div>

    <div *ngIf="!isMoore"
         class="text-center">
      <p>
        {{ 'MESSAGES.CHAT.NO_MORE_MESSAGES' | translate }}
      </p>
    </div>

    <div *ngFor="let message of thread.messages"
         class="row">

      <div *ngIf="message.showDate"
           class="col-12 text-center">
        <hr />
        <p class="font-weight-light">
          {{ (message.sentDate | date:'dd.MM.yyyy')}}
        </p>
      </div>

      <!--(message.sentDate  | date:'dd.MM.yyyy HH:mm:ss')-->
      <!--Message from logged user-->
      <div *ngIf="message.sendingUserUsername === (loggedUsername | async)"
           class="row logged-user-message-container">

        <p class="col-auto font-weight-light sent-date">
          {{ (message.sentDate | date:'HH:mm')}}
        </p>

        <div class="col mt-1 mb-1 logged-user-message">
          <p class="text-break mt-auto mb-auto p-2 message-content">
            {{ message.content }}
          </p>
        </div>
      </div>

      <!--Messages from other user-->
      <div *ngIf="message.sendingUserUsername !== (loggedUsername | async)"
           class="row other-user-message-container">

        <div class="col mt-1 mb-1 other-user-message">
          <p class="text-break mt-auto mb-auto p-2 message-content">
            {{ message.content }}
          </p>
        </div>

        <p class="col-auto font-weight-light sent-date">
          {{ (message.sentDate | date:'HH:mm')}}
        </p>
      </div>
    </div>

  </div>

  <hr />
  <div class="row">
    <mat-form-field class="col-10">
      <mat-label>{{ 'MESSAGES.CHAT.CONTENT' | translate }}</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                [(ngModel)]="messagePost.content"
                (keydown.enter)="sendMessage()">
    </textarea>
    </mat-form-field>
    <a mat-icon-button
       (click)="sendMessage()">

      <mat-icon>send</mat-icon>
    </a>
  </div>
</div>
