<div style='height: 100%; background-image: linear-gradient(#673ab7, #ffffff);'>
  <div class="container">
    <br />
    <h1 class="text-center" style="color:white; font-size:4em">{{ 'APP.NAME' | translate }}</h1>
    <hr />
    <h3 class="text-center" style="color:white;">{{ 'APP.HOME.SUBTITLE' | translate }}</h3>
    <hr />

    <div class="row">
      <div class="col-sm-4 d-flex align-items-stretch">
        <div class="card d-flex align-items-stretch">
          <div class="card-body">
            <h5 class="card-title">{{ 'APP.HOME.CARD1.TITLE' | translate }}</h5>
            <p class="card-text">{{ 'APP.HOME.CARD1.TEXT' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 d-flex align-items-stretch">
        <div class="card d-flex align-items-stretch">
          <div class="card-body">
            <h5 class="card-title">{{ 'APP.HOME.CARD2.TITLE' | translate }}</h5>
            <p class="card-text">{{ 'APP.HOME.CARD2.TEXT' | translate }}</p>
          </div>
        </div>
      </div><div class="col-sm-4 d-flex align-items-stretch">
        <div class="card d-flex align-items-stretch">
          <div class="card-body">
            <h5 class="card-title">{{ 'APP.HOME.CARD3.TITLE' | translate }}</h5>
            <p class="card-text">{{ 'APP.HOME.CARD3.TEXT' | translate }}</p>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <h3 class="text-center">{{ 'APP.HOME.FOOTER' | translate }}</h3>
  </div>
</div>
