<form [formGroup]="form" (ngSubmit)="onSubmit(form)">

  <h1 mat-dialog-title>{{ 'FILES.CHANGE_FILE_NAME_DIALOG.TITLE' | translate }}</h1>

  <div mat-dialog-content>


    <mat-form-field>

      <input matInput
             #inputName
             autofocus
             required
             formControlName="fileName"
             placeholder="{{ 'FILES.CHANGE_FILE_NAME_DIALOG.NAME_PLACEHOLDER' | translate }}" />
    </mat-form-field>
  </div>

  <div mat-dialog-actions>

    <button mat-button
            mat-dialog-close>
      {{ 'DIALOG.CANCEL_BUTTON' | translate }}
    </button>

    <button mat-button
            type="submit">
      {{ 'DIALOG.SAVE_BUTTON' | translate }}
    </button>
  </div>
</form>
